<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Login Form</title>
      <link rel="stylesheet" type="text/css" href="/static/login.css">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
   </head>
   <body>
      <div class="center">
         <div class="header">
            Login Form
         </div>
         <form action="/login" method="POST">
         <form>
            <input type="text" name="username"  name="email" placeholder="Username or Email">
            <i class="far fa-envelope"></i>
            <input type="password" id="pswrd" name="password" placeholder="Password">
            <i class="fas fa-lock" onclick="show()"></i>
            <input type="submit" name="submit "value="Sign in">
            <a href="#">Forgot Password?</a>
            <a><br>  Not yet a Member? <a href="/register"><b>Create Account</b></a>
         </form>
      </div>
      <script>
         function show(){
          var pswrd = document.getElementById('pswrd');
          var icon = document.querySelector('.fas');
          if (pswrd.type === "password") {
           pswrd.type = "text";
           pswrd.style.marginTop = "20px";
           icon.style.color = "#7f2092";
          }else{
           pswrd.type = "password";
           icon.style.color = "grey";
          }
         }
      </script>
   </body>
</html>
